.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.contenedor-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
}
.contenedor-agregar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 20px;
  width:300px;
}
form{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input{
  width: 250px;
  height: 25px;
}
form > button{
  color: white;
  background-color: green;
  width: 260px;
  height: 45px;
  border-radius: 5px;
  border-style: none;
}
.alert-msj-success{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  border-radius: 10px;
  width: 260px;
  background-color: greenyellow;
}
.alert-msj-danger{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 10px;
  width: 260px;
  background-color: palevioletred;
}